HomeChallenge5/HC5_Node-RED.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d8620c9.77848","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":230,"y":260,"wires":[["793d95f5.a8db74"]]},{"id":"258636d8.1993ea","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1330,"y":400,"wires":[]},{"id":"793d95f5.a8db74","type":"function","z":"b5d1af96.0416f8","name":"ClearInput()","func":"msg.payload = msg.payload.substring(msg.payload.search(\"d\") +1,msg.payload.length);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["26596272.36f8ee"]]},{"id":"26596272.36f8ee","type":"switch","z":"b5d1af96.0416f8","name":"Topic","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":",2","vt":"str"},{"t":"cont","v":",3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":260,"wires":[["4fb866ac.bb2ec8"],["d6a12fb2.d68fa"]]},{"id":"4fb866ac.bb2ec8","type":"function","z":"b5d1af96.0416f8","name":"mote2","func":"msg.topic = \"mote2/random/value/\";\nmsg.payload = msg.payload.substring(0, msg.payload.length - 2);\nif (msg.payload > 70) {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["4c31adae.0e429c"]]},{"id":"d6a12fb2.d68fa","type":"function","z":"b5d1af96.0416f8","name":"mote3","func":"msg.topic = \"mote3/random/value/\";\nmsg.payload = msg.payload.substring(0, msg.payload.length - 2);\nif (msg.payload > 70) {\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["4c31adae.0e429c"]]},{"id":"efc3f686.2a12c8","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"channels/1070165/publish/fields/field1/6GK49K77MBEKPGQM","qos":"0","retain":"false","broker":"b18c9fba.bd0fd8","x":1630,"y":200,"wires":[]},{"id":"b437c542.001d2","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"channels/1070165/publish/fields/field2/6GK49K77MBEKPGQM","qos":"0","retain":"false","broker":"b18c9fba.bd0fd8","x":1630,"y":320,"wires":[]},{"id":"14fdb4d1.dc2063","type":"switch","z":"b5d1af96.0416f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"mote2/random/value","vt":"str"},{"t":"cont","v":"mote3/random/value","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":260,"wires":[["efc3f686.2a12c8"],["b437c542.001d2"]]},{"id":"4c31adae.0e429c","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":260,"wires":[["14fdb4d1.dc2063","258636d8.1993ea"]]},{"id":"b18c9fba.bd0fd8","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]